<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<h2>Listing employees</h2>
<table>
	<tr>
		<th>Last name</th>
		<th>First name</th>
		<th>Phone number</th>
	</tr>

	<% @company.employees.each do |employee| %>
	<tr>
		<td><%= employee.last_name %></td>
		<td><%= employee.first_name %></td>
		<td><%= employee.phone_number %></td>	
	</tr>

	<% end %>

</table>